# Learning Pandas

In [2]:
import pandas as pd

In [3]:
# Dataframe = part of data
df = pd.DataFrame([[1,2,3], [4,5,6]], columns=['a', 'b', 'C'], index=['1', '2'])
df

   a  b  C
1  1  2  3
2  4  5  6

In [4]:
df.head(1) # top rows
print()
df.tail(1) # bottom rows

   a  b  C
2  4  5  6

In [5]:
df.columns # get header values

Index(['a', 'b', 'C'], dtype='object')

In [6]:
df.info() # get overview

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, 1 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       2 non-null      int64
 1   b       2 non-null      int64
 2   C       2 non-null      int64
dtypes: int64(3)
memory usage: 64.0+ bytes

In [7]:
df.describe() # shows the important stats about data

             a        b        C
count  2.00000  2.00000  2.00000
mean   2.50000  3.50000  4.50000
std    2.12132  2.12132  2.12132
min    1.00000  2.00000  3.00000
25%    1.75000  2.75000  3.75000
50%    2.50000  3.50000  4.50000
75%    3.25000  4.25000  5.25000
max    4.00000  5.00000  6.00000

In [9]:
# df.nunique() # to find unique values in each row
df['a'].unique() # unique values in column

array([1, 4])